<div class="container">
    <mat-card-title>Alunos</mat-card-title>
    <br>
    <mat-card-subtitle><br>Editar Aluno</mat-card-subtitle>
    <mat-divider></mat-divider>
    <br>

    <form #form="ngForm" *ngIf="aluno.idaluno">
        <mat-form-field appearance="outline" class="form-field">
            <mat-label>ID do Aluno</mat-label>
            <input matInput id="idaluno" name="idaluno" disabled [(ngModel)]="aluno.idaluno">
            <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nome do Aluno</mat-label>
            <input matInput placeholder="Digite o nome completo"
                   id="nome"
                   name="nome"
                   required
                   [(ngModel)]="aluno.nome">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Sexo</mat-label>
            <input matInput placeholder="Ex: Masculino, Feminino"
                   id="sexo"
                   name="sexo"
                   required
                   [(ngModel)]="aluno.sexo">
            <mat-icon matSuffix>wc</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker"
                   id="dt_nasc"
                   name="dt_nasc"
                   required
                   [(ngModel)]="aluno.dt_nasc">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="botoes-container">
        <button mat-raised-button color="primary" class="btn"
                (click)="atualizarAluno()"
                [disabled]="!form.valid">
            Salvar
            <mat-icon>save</mat-icon>
        </button>
        <button mat-raised-button color="warn" class="btn" (click)="cancelar()">
            Cancelar
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
</div>
